
[Unit]
Description=Samba NetBios Daemon 
After=network.target ntpd.service

[Service]
ExecStart=/usr/local/samba/sbin/nmbd -s /usr/local/etc/samba/smb.conf
Restart=no
Type=forking

[Install]
WantedBy=multi-user.target
