
[Unit]
Description=Samba Windows File Share Daemon 
After=network.target ntpd.service

[Service]
ExecStart=/usr/local/samba/sbin/smbd -s  /usr/local/etc/samba/smb.conf
ExecReload=/usr/local/samba/bin/smbcontrol smbd reload-config
Restart=no
Type=forking

[Install]
WantedBy=multi-user.target
